body{
    background: linear-gradient(to right,#32a5e7,#0653a0);
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    letter-spacing: 2px;
    text-align: center;
    color: #fcfbfd;
}
hr{
    border: none;
    height: 2px;
    background: linear-gradient(to right,#64566d,#6c61dd);
}
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 10rpx 0 5px;
}
input, select {
    width: 40%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
textarea {
    width: 50%; /* Adjust width as needed */
    float: right; /* Moves it to the right */
    height: 150px; /* Adjust height */
    resize: none;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
input[type="submit"] {
    background: rgb(20, 85, 159);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
input[type="submit"]:hover {
    background: rgb(28, 138, 186);
}
.new {
    position: absolute;
    top: 170px; /* Move to the top */
    right: 1px; /* Move to the right */
    width: 50%; /* Adjust width */
    text-align: left; /* Ensure proper alignment */
}
/* Styles for label */
.new label {
    display: block; /* Forces label to be on top */
    margin-bottom: 5px; /* Adds space between label and textarea */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.me2{
    position: absolute;
    top: 220px; /* Move to the top */
    right: 10px; /* Move to the right */
    width: 70%; /* Adjust width */
    text-align: left; /* Ensure proper alignment */
}
/* Styles for textarea */
.me2 textarea {
    width: 70%; 
    height: 350px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}